old
certs
config/*
!config/default.json
db/conf_*.db
db/storage_*.db
node_modules
uploads/releases/*

libs/custom/*
!libs/custom/custom.js

routes/custom/*
!routes/custom/custom.js

js/custom/*

public/apks
uploads

jsforms
JOURNAL

ui/*
!ui/components
!/ui/utils
!/ui/forms.js

views/*
!views/index.html
!views/404.mst
!views/login.mst
